COM1
COM2
COM3
COM4
LPT1
LPT2
LPT3
LPT4
LPT5
LPT6
LPT7
LPT8
LPT9
NUL
PRN
AUX
CLOCK$
CONFIG$
IRP0
IRP1
IRP2
IRP3
IRP4
IRP5
IRP6
IRP7
IRP8
IRP9
IRP10
IRP11
IRP12
IRP13
IRP14
IRP15
IRP16
IRP17
IRP18
IRP19
IRP20
IRP21
IRP22
IRP23
IRP24
IRP25
IRP26
IRP27
IRP28
IRP29
IRP30
IRP31
/data/*
!/data/.gitkeep
/uploads/*
!/uploads/.gitkeep
/dist/*
/dist/output.css
/node_modules/
